@import './base.css';

::-webkit-scrollbar {
    width: 12px; /* Largura da barra de rolagem */
}

::-webkit-scrollbar-track {
    background: #888; /* Cor do fundo da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #f1f1f1; /* Cor da parte que você arrasta */
    border-radius: 6px; /* Arredonda as bordas da parte que você arrasta */
}

::-webkit-scrollbar-thumb:hover {
    background: #555; /* Cor da parte que você arrasta quando está em foco */
}

/* Estilo do botão superior e inferior da barra de rolagem (setas) */
::-webkit-scrollbar-button {
display: none; /* Ocultar as setas de rolagem (opcional) */
}

html {
    scroll-behavior: smooth;
}
